name: Telegram Bot 24/7

on:
  push:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Start Telegram Bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          WEB_APP_URL: ${{ secrets.WEB_APP_URL }}
          API_SECRET: ${{ secrets.API_SECRET }}
          PG_HOST: ${{ secrets.PG_HOST }}
          PG_PORT: ${{ secrets.PG_PORT }}
          PG_USER: ${{ secrets.PG_USER }}
          PG_PASSWORD: ${{ secrets.PG_PASSWORD }}
          PG_DATABASE: ${{ secrets.PG_DATABASE }}
          PG_SSLMODE: ${{ secrets.PG_SSLMODE }}
        run: python bot.py
