name: Telegram Bot 24/7

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0 */4 * * *"

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 999999

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Cloudflare Tunnel
        run: |
          curl -L https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb -o cloudflared.deb
          sudo dpkg -i cloudflared.deb

      - name: Start Cloudflare Tunnel
        run: |
          nohup cloudflared tunnel run ${{ secrets.TUNNEL_ID }} --token ${{ secrets.TUNNEL_TOKEN }} &

      - name: Start Telegram Bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          python bot.py
